# =========================
# Laravel / App secrets
# =========================
src/.env
src/.env.*

# allow example env
!src/.env.example
!.env.example

# =========================
# Local history (VSCode)
# =========================
.history/

# =========================
# Logs / runtime
# =========================
src/storage/logs/
src/storage/*.key
src/storage/framework/cache/
src/storage/framework/sessions/
src/storage/framework/views/

# =========================
# Dependencies / build
# =========================
src/vendor/
src/node_modules/
src/public/hot/
src/public/storage
src/.phpunit.result.cache

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
*.swp
*.swo

# =========================
# Docker / MySQL data (DO NOT COMMIT)
# =========================
docker/mysql/data/